* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    background-color: #37044e;
    background: url(bg.jpg) no-repeat center center;
    background-size: cover;
    height: 92vh;
}


.Menu {
    background-color: black;
}

.Menu ul li {
    display: inline-block;
    background-color: #180222;
    height: 3rem;
    width: 7rem;
    margin-left: 10px;
    border-radius: 0% 55%;
}

.Menu ul li a {
    display: block;
    text-align: center;
    margin-top: 12px;
    height: 100%;
    text-decoration: none;
    color: antiquewhite;
    font-family: Tahoma, sans-serif;
    font-size: 15px;

}

.Menu ul li a:hover {
    background-color: rgb(248, 248, 248);
    color: #0d0344;
    border-radius: 0% 25%;
    border: double grey 3px;

}

.fotoPerfil {
    display: block;
    border-radius: 50%;
    width: 400px;
    margin: 0 auto;
}

.fotoPerfil:hover {
    border-radius: 25%;
    border: solid grey 3px;
}

.nomeProfissao {
    height: 100%;
    margin: 0 auto;

}

h2 {
    margin-left: 20px;
}

div.chel {
    background-color: #99588b;
}


#apresentacao .textoApresentacao {
    font-size: 25px;
    margin-left: 10px;
}

#paragrafo .textoApresentacao {
    margin-bottom: 100px;
}

#apresentacao h3 {
    text-align: center;
    font-size: 30px;
}



div#portifolio .linkedin img {
    width: 110px;
    margin: 0 auto;
}

div#portifolio .git img {
    width: 110px;
    margin-left: 47rem;
}

div#portifolio {
    margin-top: 5rem;
}